.App {

  box-sizing: border-box;
  background-color: #FFFFFF;
  font-family: 'Bai Jamjuree', sans-serif;
  padding: 0;
  margin: 0;
  max-width: 100vw;
  overflow: hidden;

  & > .App-nav {

    box-sizing: border-box;
    padding: 39px 140px;
    margin: 0;
    font-size: 25px;
    font-weight: bold;
    color: #62579E;
    max-width: 100vw;
    overflow: hidden;

    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;

    & > .App-nav-logo-link {

      & > .App-nav-logo {
        box-sizing: border-box;
        margin: 0 22px 0 22px;

        & > svg {
          width: auto;
          height: 90px;
        }
      }

    }

    & > .App-nav-content {

      display: flex;
      flex-direction: row;
      align-items: center;
      justify-items: center;
      align-content: center;
      justify-content: center;
      flex-wrap: wrap;

      & > .App-nav-link {
        text-decoration: none;
        text-transform: uppercase;
        margin: 21px;
      }

    }

    a, a:hover, a:visited {
      color: #62579E;
    }

  }

  & > .App-header {

    box-sizing: border-box;
    color: #FFFFFF;
    background-color: #62579e;
    background-image: url("../../assets/tausta_header.svg");
    max-width: 100vw;
    overflow: hidden;

    & > h1 {
      box-sizing: border-box;
      font-size: 80px;
      padding: 171px 51px 51px 51px;
      margin: 0 auto;
      max-width: 1018px;
      text-align: center;
      font-weight: bold;
    }

    & > h2 {
      box-sizing: border-box;
      padding: 0 51px 51px 51px;
      margin: 0 auto;
      max-width: 966px;
      text-align: center;
      font-size: 25px;
    }

    & > .App-header-button-container {

      padding: 0 11px 195px 11px;
      margin: 0;
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-items: center;
      align-content: center;
      justify-content: center;
      flex-wrap: wrap;

      & > .hg-button {
        border-radius: 8px;
        border: 0;
        font-size: 25px;
        text-align: center;
        color: #62579E;
        background-color: #ffffff;
        margin: 11px;
        font-weight: bold;
      }

    }

  }

  & > .App-content {

    box-sizing: border-box;
    color: #62579E;
    background-color: #ffffff;
    margin: 0;
    padding: 0;
    width: 100%;
    max-width: 100vw;
    overflow: hidden;

    & > .App-content-row {

      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: center;

      margin: 0 auto;

      & > article {
        margin: 90px;
        flex: 0 1 20%;
        min-width: 15em;
        max-width: 95vw;

        & > h3 {
          font-size: 30px;
          font-weight: bold;
        }

        & > p {
          font-size: 20px;
        }

        @media only screen and (max-width: 10em) {
          min-width: 0;
        }

        @media only screen and (max-width: 15em) {
          min-width: 10em;
        }

        @media only screen and (max-width: 600px) {
          margin: 30px;
        }

        @media only screen and (max-width: 900px) {
          margin: 60px;
        }

      }

    }

    & > hr {
      border-top: 3px solid #62579E;
      margin: 2em auto;
      padding: 0;
      max-width: 1640px;
    }

    & > .App-content-sample {

      box-sizing: border-box;
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      padding: 0;
      margin: 0;
      //max-width: 1018px;
      text-align: left;

      //align-items: center;
      //justify-items: center;
      //align-content: center;
      justify-content: center;

      & > .App-content-sample-content {

        box-sizing: border-box;
        margin: 0;
        padding: 0 90px 22px 90px;
        flex-shrink: 0;
        width: 40em;
        max-width: 95vw;

        & > h3 {
          font-size: 30px;
          font-weight: bold;
        }

        & > p {
          font-size: 20px;
        }

        @media only screen and (max-width: 300px) {
          padding: 0 15px 22px 15px;
        }

        @media only screen and (max-width: 600px) {
          padding: 0 30px 22px 30px;
        }

        @media only screen and (max-width: 900px) {
          padding: 0 60px 22px 60px;
        }

      }

      & > .App-content-sample-example {

        box-sizing: border-box;
        margin: 0;
        padding: 0 0 90px 0;
        flex-shrink: 0;
        text-align: left;

        & > .App-content-sample-example-preview {


        }

      }

    }

  }

  & > .App-footer {

    box-sizing: border-box;
    color: #FFFFFF;
    background-color: #62579e;
    padding: 148px 142px 170px 142px;
    background-image: url("../../assets/tausta_header.svg");

    display: flex;
    flex-direction: row;
    //align-items: center;
    //justify-items: center;
    //align-content: center;
    //justify-content: center;
    flex-wrap: wrap;

    max-width: 100vw;
    overflow: hidden;

    a, a:hover, a:visited {
      color: #ffffff;
      text-decoration: none;
    }

    & > p {
      box-sizing: border-box;
      padding: 0;
      margin: 22px 90px;
      font-size: 25px;
      max-width: 95vw;

      & > strong {
        box-sizing: border-box;
        font-size: 30px;
        font-weight: bold;
      }

      @media only screen and (min-width: 0px) {
        margin: 22px;
      }

      @media only screen and (min-width: 300px) {
        margin: 22px 30px;
      }

      @media only screen and (min-width: 600px) {
        margin: 22px 60px;
      }

      @media only screen and (min-width: 900px) {
        margin: 22px 90px;
      }

    }

    @media only screen and (min-width: 0) {
      padding: 148px 11px 170px 11px;
    }

    @media only screen and (min-width: 500px) {
      padding: 148px 20px 170px 20px;
    }

    @media only screen and (min-width: 600px) {
      padding: 148px 30px 170px 30px;
    }

    @media only screen and (min-width: 900px) {
      padding: 148px 60px 170px 60px;
    }

    @media only screen and (min-width: 1100px) {
      padding: 148px 90px 170px 90px;
    }


  }

}
